/* ============= COMMON STYLES ============= */
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  color: inherit;
}
ul {
  list-style-type: none;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
/* ============= /COMMON STYLES ============= */
/* ============= HEADER STYLES ============= */
.page-header {
}
.header-navbar {
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.text-navyblue {
  color: #2e2f42;
}
.navbar-list {
}
.navbar-item {
}
.navbar-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.navbar-link:hover,
.navbar-link:focus {
  color: #404bbf;
}
.header-contacts {
    font-style: normal;
}
.contacts-list {
}
.contacts-item {
}
.contacts-link {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* ============= /HEADER STYLES ============= */

/* ============= HERO STYLES ============= */
.page-hero {
  background-color: #2e2f42;
  color: #ffffff;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  text-align: center;
}
.hero-button {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}
/* ============= /HERO STYLES ============= */

/* ============= BENEFITS STYLES ============= */
.page-benefits {
}
.benefits-title {
}
.benefits-list {
}
.benefits-item {
}
.benefits-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.benefits-text {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ============= /BENEFITS STYLES ============= */

/* ============= TEAM STYLES ============= */
.page-team {
  background-color: #f4f4fd;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-list {
}
.team-item {
  background-color: #ffffff;
}
.team-img {
}
.team-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* ============= /TEAM STYLES ============= */

/* ============= PORTFOLIO STYLES ============= */
.page-portfolio {
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-img {
}
.portfolio-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ============= /PORTFOLIO STYLES ============= */

/* ============= FOOTER STYLES ============= */
.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.text-white {
    color: #f4f4fd;
}
/* ============= /FOOTER STYLES ============= */
